{{!-- <h1>Products</h1>
<h2 id='bienvenida'>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.rol}}</p>
<button id='logout-button'>Logout</button>

<section id='container'></section>
<section class='pagination'>
	<button id='prev-page-button'>Prev</button>
	<span id='page-number'></span>
	<button id='next-page-button'>Next</button>
</section>

{{!-- 8/1/24 --}}

<div class="purchase">
    <button id="finalizarCompra">Finalizar Compra</button>
    <button id="agregarProductos">Carrito</button>
</div>
{{#each prods}}
<div>
    <p> <b>{{this.title}}</b> - - {{this.description}} - - U$D {{this.price}} + IVA  <button class="addToCart" price="{{this.price}}" idProd="{{this._id}}">Agregar al carrito</button> 
</div>
{{/each}} --}}

<h1 id='bienvenida'>Bienvenido {{user.first_name}} {{user.last_name}}</h1>

<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.rol}}</p>
<p id='cart-ID'>CartId: {{user.cart}}</p>

<button id='logout-button'>Logout</button>
<button id='purchase-button' disabled>Finalizar Compra</button>

<h2>Products</h2>

<section id='products-container'></section>
<section class='pagination'>
	<button id='prev-page-button'>Prev</button>
	<span id='page-number'></span>
	<button id='next-page-button'>Next</button>
</section>
